/* 
Author: Eric Boring
Version: 1.0
Date: 14 Nov 2016
Purpose: Project for C376 Web Development Fundamentals
*/


/* Colors for all screens and dimensions for mobile or really small screens */
html, body{
    background-color: #006bb3;
    padding: 0;
    margin: 0;
}
#header h1{
    display: inline;
    padding-left: 50px;
    font-size: 20px;
}
#header{
    margin: 0px;
    background-color: #0099ff;
    float: top;
    padding: 5px;
}
#img-logo{
    position: absolute;
    left: 10px;
    top: 5px;
}
#nav{
    background-color: goldenrod;
    padding: 5px;
    text-align: center;
}
#nav ul{
    list-style-type: none;
    margin: 1px;
    padding: 0;
}
#nav ul li{
    padding: 2px 5px;
    margin: 5px 1px;
    display: inline;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1em;
    font-weight: bold;
}
#nav ul li:hover{
    background-color: gold;
}
#nav ul li a:link {
    text-decoration: none;
}
#nav ul li a:visited {
    text-decoration: none;
}
#nav ul li a:hover {
    text-decoration: none;
}
#nav ul li a:active {
    text-decoration: underline;
}
.nav-current{
    background-color: yellow;
}
#nav .fa{
    display: none;
}
.container{
    margin: 0.25em;
    padding: 1px 1em 1em;
    background-color: beige;
    border-radius: 10px;
}
#diagram{
    border: darkgray solid 2px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
}
.aside{
    max-width: 100%;
    background-color: #e6e6e6;
    border: 3px solid #808080;
    border-radius: 8px;
    padding: 2px;
    margin: auto; /* Centered horizontally */
    margin-top: 5px;
    margin-bottom: 5px;
    float: none;
}
.aside:hover{
    background-color: white;
    border: 3px solid #999999;
}
dl {
    padding: 0.5em;
}
dt {
  float: left;
  clear: left;
  font-weight: bold;
  color: green;
}
    dt::after {
      content: ":";
      margin-right: 0.5em;
    }
dd {
  margin: 0 0 0 1em;
  padding: 0 0 0.5em 1em;
}
pre{
    background-color: lightgray;
    padding: 5px;
    padding-left: 10px;
    border: blue solid 1px;
    border-left-width: 3px
}
pre:hover{
    background-color: white;
    padding-left: 5px;
    border-left-width: 8px
}
.tbl-styledd{
    border: darkgray solid 3px;
}
.tbl-styled thead tr th{
    border-bottom: darkgray solid 2px;
    background-color: #99d6ff;
}
.tbl-styled tbody tr td{
    border-bottom: lightgray solid 2px;
    background-color: #e6e6e6;
    padding: 0.5em;
}
.tbl-styled tbody tr:nth-child(even) td{
    background-color: #e6ffff ;
}
.tbl-styled tbody tr:hover td{
    background-color: white;
}
.warning{
    padding: 0.5em;
    background: #ffff99;
    border: orange solid 3px;
    border-left-width: 6px;
}
    .warning::before{
        content: "!";
        padding-right: 0.5em;
        font-size: 32px;
        font-weight: bold;
        font-style: italic;
        color: orangered;
    }
#footer{
    margin-top: 3em;
    text-align: center;
}


/* For medium size screens */
@media (min-width: 600px) {
    .aside{
        max-width: 33%;
    }
    .container{
        margin: 1em;
    }
    #diagram{
        width: 400px;
    }
}

/* For large screens */
@media (min-width: 769px) {
    .aside{
        max-width: 25%;
    }
    .container{
        margin: 2em;
    }
     #diagram{
        width: 600px;
    }
}

/* For REALLY large screens */
@media (min-width: 1000px) {
    #diagram{
        width: 1000px;
    }
}

/* For all screens larger than tablet size */
@media (min-width: 600px) {
    #header{
        margin: 0px;
        background-color: #0099ff;
        float: top;
        padding: 5px;
    }
    #header h1{
        display: inline;
        font-size: 32px;
        margin-left: 10px;
        position: relative;
        top: 5px;
    }
    #nav{
        background-color: goldenrod;
        padding: 10px;
        text-align: left;
    }
    #nav ul li{
        padding: 10px;
    }
    #nav .fa{
        display: inline;
        padding-right:0.5em; 
    }
    .aside{
        padding: 10px;
        margin: 10px;
    }
    .float-right{
        float: right;
    }
    .float-left{
        float: left;
    }
}